# Lark OAuth Configuration
VITE_LARK_APP_ID=your_lark_app_id_here
VITE_LARK_APP_SECRET=your_lark_app_secret_here
VITE_LARK_REDIRECT_URI=http://localhost:3000/auth/callback
VITE_LARK_AUTH_URL=https://open.larksuite.com/open-apis/authen/v1/index
VITE_LARK_TOKEN_URL=https://open.larksuite.com/open-apis/authen/v1/access_token
VITE_LARK_USER_INFO_URL=https://open.larksuite.com/open-apis/authen/v1/user_info